body {
	width: 1440px;
	max-width: 100%;
	background-color: hsl(212, 45%, 89%);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
	font-size: 1.1em;
}

#border {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: white;
	width: 350px;
	height: 550px;
	border-radius: 1.5em;
}

#border>#img_qr {
	display: flex;
	justify-content: center;
}

#border>#img_qr img {
	max-width: 90%;
	border-radius: 1.5em;
}

#text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1em;

}

#text h3 {
	text-align: center;
	font-weight: 900;
	margin: 0.5em 0 0.5em 0;
}


#text p {
	text-align: center;
	color: hsl(220, 15%, 55%);
	margin: 1em 0; 
}

@media (max-width: 375px) {
	body {
		width: 90vw;
		margin: 0 auto;
		

	}
	
}